.message-card-pull-right{
  margin: 5px 5px 5px 45px;
}
.message-card-pull-left{
  margin: 5px 45px 5px 5px;
}
.md-card-title{
  font-size: larger;
  font-weight: 400;
}
.red{
  background-color: tomato;
}
.yellow{
  background-color: burlywood;
}
