.message-card-pull-right{
  margin: 5px 5px 5px 45px;
}
.message-card-pull-left{
  margin: 5px 45px 5px 5px;
}
.md-card-title{
  font-size: larger;
  font-weight: 400;
}
.first-card{
  background-color: darksalmon;
}
.red{
  background-color: tomato;
}
.yellow{
  background-color: burlywood;
}
.green{
  background-color: chartreuse;
}
.blue{
  background-color: lightsteelblue;
}
.orange{
  background-color: coral;
}
.pink{
  background-color: hotpink;
}

