.height-navbar{
  height: 30px;
}
.height-app-cards{
  /*fallback*/
  height: 600px;
  width: 100%;
  /*max-height: calc(100% - 350px);*/
  overflow: scroll;
}
.height-app-send-message-card{
  height: 260px;
}
