<form #fSendCard="ngForm" class="">
  <md-input-container class="width-100">
    <input mdInput placeholder="Your name:" disabled value="{{getUserDisplayName()}}">
  </md-input-container>

  <md-input-container class="width-100">
    <textarea mdInput md-autosize mdAutosizeMinRows="5" placeholder="Your message..." [ngModel]="message" name="message"></textarea>
  </md-input-container>
  <div class="width-100">
    <button md-raised-button (click)="send(fSendCard)" [disabled]="disableSendBtn(fSendCard)">Send</button>
  </div>
</form>




